<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <% if !current_user.friendships.requested?(@user.id)%>
    <%= link_to 'Add friend', user_add_friend_path(@user), method: :post %>
  <% end %>
</section>
